<main>
    <div class="grid main-container">
        <section class="intro">
            <h2 class="intro__heading">Hello portland dog lovers!</h2>
            <p class="intro__body">My name is Tori and I am excited to introduce the new grooming shop in
                Sellwood, Pups Parlor! I love what I do, and I make sure it shows! I groom dogs of all shapes and
                sizes
                and from any walk of life. You can rest assured knowing each grooming session will be done with
                patience
                and precision.</p>
        </section>
        <aside>
            <div class="call-to-action">
                <h2>Book An Appointment</h2>
                <p class="cta-section__address">7302 SE Milwaukie Ave, Portland,
                    OR 97202</p>
                <a href="tel:5033882240" class="cta-section__phone">(503) 388-2240</a>
                <button class="button button-primary">Book</button>
            </div>
        </aside>
    </div>
</main>