<section>
    <div class="grid testmonial-cointainer">
        <div class="review">
            <img src="images/kim S.jpeg" alt="" class="review-image">
            <h3>Kim S.</h3>
            <div class="quote__border"><i class="fa-solid fa-quote-left"></i></div>
            <p class="quote">Our pup Chelsea loved getting groomed by Tori. Tori is kind, patient and really
                understands
                dogs. We are
                thrilled to find Tori so that we have a long term groomer for Chelsea.</p>
        </div>
        <div class="review secondary-color">
            <img src="images/suzanne K.jpeg" alt="" class="review-image">
            <h3>Suzanne K.</h3>
            <div class="quote__border"><i class="fa-solid fa-quote-left"></i></div>
            <p class="quote">I am so impressed with Tori! I was incredibly reluctant to bring Rex - a Border
                Doodle
                to a new groomer but I really wanted to support a groomer in my neighborhood and I heard great
                things about Tori from a bunch of doodle owners that were chatting at CellerDog.
                Tori made it easy to schedule and calmed my nerves and reassured me when I inquired about her
                previous yelp review from another doodle owner.</p>
        </div>
        <div class="review">
            <img src="images/Neal E.jpeg" alt="" class="review-image">
            <h3>Neal E.</h3>
            <div class="quote__border"><i class="fa-solid fa-quote-left"></i></div>
            <p class="quote">Just brought our pup Hazel there for the first time and Tori did an amazing job. A
                wonderfully airy space and a great location. We found our new pet groomer!</p>
        </div>
        <div class="review secondary-color">
            <img src="images/George M.jpeg" alt="" class="review-image">
            <h3>George M.</h3>
            <div class="quote__border"><i class="fa-solid fa-quote-left"></i></div>
            <p class="quote">Tori is wonderful! Tori groomed our dog when she worked for a previous place and
                when
                she opened her own business, of course we had to follow her! Not only does she do an amazing
                job,
                but she really respects whatever limits the dogs may have (fear of hair dryer, etc). Our dog
                came
                back so soft, clean, and her white was so bright!! Highly recommend!</p>
        </div>
    </div>
</section>



</body>

</html>